@import '../../sass/variables&mixins.scss';
.calculator {
  flex: 1 1 auto;
  background-color: $whitecolor;
  font-family: $fontIndieflower;

  button {
    border-radius: 20px;
    font-size: 40px;
    background-color: rgb(245, 236, 236);
    border: 1px solid #000000;
  }

  .btn-pink {
    background-color: $main-pink-color;
  }
  .calculator-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
    gap: 5px;
  }

  .span-two {
    grid-column: span 2;
  }

  .output {
    grid-column: 1/-1;
    background-color: $pink-dark;
    border-radius: 20px;
  }
}
