@import '../../../sass/variables&mixins.scss';
@import '../../../sass/box.scss';

.footer {
  display: flex;
  justify-content: center;
  height: 10%;
  width: 100%;
  padding: 0.5rem;
  background-color: $main-pink-color;
  font-family: $fontIndieflower;

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px 0 20px;
  }

  &__info-project {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 0.5em;

    &_item {
      height: $hf-icon;
      width: $hf-icon;
      align-self: center;
      cursor: pointer;
    }

    &_item:first-child {
      background: url('../../../../public/assets/icons/filter.svg') no-repeat;
      background-size: cover;
    }

    &_item:nth-child(2) {
      background: url('../../../../public/assets/icons/calculator.svg')
        no-repeat;
      background-size: cover;
    }

    &_item:nth-child(3) {
      background: url('../../../../public/assets/icons/map.svg') no-repeat;
      background-size: cover;
    }

    &_item:nth-child(4) {
      background: url('../../../../public/assets/icons/money.svg') no-repeat;
      background-size: cover;
    }

    &_item:nth-child(5) {
      background: url('../../../../public/assets/icons/statistics.svg')
        no-repeat;
      background-size: cover;
    }
  }

  .list-authors {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    &__item {
      &_name {
        padding: 0.2rem;
        color: $pink-dark;
      }

      &_team-lead {
        padding: 0.2rem;
        color: $whitecolor;
      }

      &_name:hover,
      &_team-lead:hover,
      &_rs-school:hover {
        transition-delay: ease-in-out;
        border: 1px solid $pink-dark;
        border-radius: 1rem;
        box-shadow: 0px -1px 10px 2px rgba(71, 34, 80, 0.2) inset;
      }
    }
  }
}

@media (max-width: 415px) {
  .footer {
    &__nav {
      &_item {
        height: $hf-icon30;
        width: $hf-icon30;
      }
    }
  }
  .list-authors {
    &__item {
      font-size: 10px;
      &_team-lead {
        font-size: $fs15;
      }
    }
  }
}
