@import '../../../sass/variables&mixins.scss';
@import '../../../sass/box.scss';
@import '../../../sass/fonts.scss';
.page-main {
  height: 80%;
}
.current-status {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  font-family: $fontIndieflower;
  height: 100%;
}
.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  width: 30rem;
  height: 60%;
  margin-bottom: 1rem;
  background-color: $yellowcolor;
  border: 1px solid #00000040;
  box-shadow: 0px 4px 4px 0px #00000040;
  font-family: $fontHahdlee;

  .paperclip {
    position: absolute;
    top: -1rem;
    width: 50px;
    height: 70px;
    background: url('../../../../public/assets/icons/keep.svg') no-repeat;
  }

  .title-list {
    margin-top: 2rem;
    color: #000000;
  }

  .todo-items {
    width: 100%;
    min-height: 15rem;
    cursor: pointer;
  }
}

.todo-list_total {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40%;
  font-family: $fontHahdlee;

  .current-balans {
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: 30rem;
    height: 1.5 * $hf-icon;
    gap: 10px;
    background-color: $colorgreen;
    border-radius: 10px;
    border: 1px solid #00000040;
    box-shadow: 4px -4px 4px 0px #00000040 inset;
    color: $whitecolor;

    .sum,
    .currency {
      align-self: center;
      height: max-content;
      font-weight: 400;
    }
    .currency {
      font-size: $fs30;
    }
    .sum {
      font-size: $fs40;
    }
  }

  .todo-list_btn {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    max-width: 100%;
    width: 30rem;
    cursor: pointer;
  }

  .todo-list_btn__plus {
    width: 1.5 * $hf-icon;
    height: 1.5 * $hf-icon;
    background: url('../../../../public/assets/icons/plus.svg') no-repeat;
    background-size: cover;
  }

  .todo-list_btn__minus {
    width: 1.5 * $hf-icon;
    height: 1.5 * $hf-icon;
    background: url('../../../../public/assets/icons/minus.svg') no-repeat;
    background-size: cover;
  }
}
