@import '../../sass/variables&mixins.scss';
@import '../../sass/box.scss';
@import '../../sass/fonts.scss';

.current-balans {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  font-family: $fontIndieflower;
}
.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 260px;
  padding: 25px;
  margin-bottom: 50px;
  background-color: $yellowcolor;
  font-size: $fs30;
  line-height: 44px;

  .paperclip {
    position: absolute;
    top: 0;
    width: 50px;
    height: 70px;
    background: url('../../../public/icons/keep.svg') no-repeat;
  }

  .title-list {
    margin-top: 20px;
  }
}
