@import '../../../sass/variables&mixins.scss';

.sortes {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff9e6;
  font-family: $fontIndieflower;
  letter-spacing: 2px;

  .sortes-title {
    margin-bottom: 1rem;
    font-size: $fs30;
  }

  .nav-link {
    font-size: $fs30;
  }
}
