@import '../../../sass/variables&mixins.scss';

.sortes {
  height: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $whitecolor;
  font-family: $fontIndieflower;
  letter-spacing: 2px;  
}

.page-sortes-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .info-box {
    display: flex;
    flex-direction: row;
  }

  .info-box__search {
    display: flex;
    flex-direction: column;
    height: 3rem;
    min-width: 13rem;
    border-radius: 1rem;
    border: 0.2rem solid $main-pink-color;
    padding-left: 1rem;    
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .list-links {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    min-width: 100%;
    font-size: $fs30;
    color: $pink-dark;
    margin-top: 10px;

  }

  .list-links__item {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 0.5rem;
  }

  .list-links__item:active {
    color: $main-pink-color;
  }

  .list-links__item_expences {
    color: rgb(212, 38, 38);
  }

  .list-links__item_incomes {
    color: $colorgreen;
  }

  .list-links .active {
    text-decoration: underline;
    text-shadow: 0 0 3px;
  }

  .list-links span:hover {
    text-shadow: 0 0 3px;
  }
  
}
@media (max-width: 360px) {
  .sortes {
    .sortes-title {
      margin-bottom: 0.5rem;
      font-size: $fs30;
    }

    .page-sortes-date {
      .sortes-title {
        margin-bottom: 0.5rem;
        font-size: $fs30;
      }

      .sortes-title {
        margin-bottom: 0.2rem;
        font-size: $fs30;
      }

      .list-links span {
        font-size: $fs15;
      }
    }
  }
}
