@import '../../../sass/variables&mixins.scss';

.numeric-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: $whitecolor;
  font-family: $fontIndieflower;
  font-size: $fs30;
  border-radius: 1rem;
  height: 50%;
  width: 60%;
}

.btn-num {
  font-size: $fs20;
  background-color: #b2d0f8;
  border-radius: 5px;
  &__del {
    background-color: #da1741;
    &:focus,
    &:hover {
      background-color: #da4c6b;
      box-shadow: 2px 3px 47px 4px rgba(148, 29, 64, 0.75);
      -webkit-box-shadow: 2px 3px 47px 4px rgba(211, 34, 102, 0.75);
      -moz-box-shadow: 2px 3px 47px 4px rgba(151, 53, 153, 0.75);
    }
  }
}
@media (max-width: 440px) {
  .numeric-area {
    width: 100%;
  }
}
