@import '../../../sass/variables&mixins.scss';
.todo-box__input {
  font-family: $fontHahdlee;
}
.todo-box__input input {
  margin-bottom: 0.5rem;
  height: 2rem;
  width: 20rem;
  padding: 0.5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: $whitecolor;
  box-shadow: 0px -1px 10px 2px rgba(71, 34, 80, 0.2) inset;
}

.todo-box__input input:focus {
  background-color: $whitecolor;
  box-shadow: 4px -4px 4px 0px #00000040 inset;
}

.todo-box__input button {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 3rem;
  height: 2rem;
  font-size: $fs15;
  background-color: $colorgreen;
  box-shadow: 4px -4px 4px 0px #00000040 inset;
}

.todo-box__input button:hover {
  box-shadow: 2px 3px 47px 4px rgba(53, 153, 106, 0.75);
}

.todo-box__output {
  padding: 0.5rem;
  font-family: $fontIndieflower;
  text-decoration: underline;

  input {
    margin-right: 0.5rem;
  }
  button {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.5rem;
    border: 0.1rem solid #000000;
    border-radius: 0.5rem;
  }
}
