@import '../../../sass/variables&mixins.scss';

.converter-page {
  display: flex;
  flex-direction: column;
  background-color: $whitecolor;
  font-family: $fontIndieflower;
  text-align: center;
  height: 80%;

  .date {
    margin-bottom: 0.5rem;
  }

  .name {
    display: flex;
    justify-content: right;
    font-size: 1rem;
    color: $main-pink-color;
  }

  h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  .currency-row {
    height: 100%;
  }

  .currency-input {
    display: inline-block;
    width: 70%;
    height: 100%;
    border: 0.3rem solid $main-pink-color;
    border-radius: 0.5em;
    font-size: 1.5rem;
  }

  .currency-select {
    display: inline-block;
    height: 100%;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    border: 0.3rem solid $main-pink-color;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .user-convert__box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
  }

  .equals {
    font-weight: bold;
    font-size: 2rem;
  }

  .user-convert {
    margin-bottom: 0.5rem;
    padding: 0.25rem;
    font-size: 1.5rem;
  }

  .live-convert__title,
  .user-convert__title {
    margin-bottom: 0.5rem;
  }
  .list-curriency {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
  }

  .item-curriency {
    padding: 0.5rem;
    border-radius: 1rem;
    border: 0.2rem solid $main-pink-color;
  }

  .value {
    font-size: $fs20;
  }

  .symbol {
    color: $main-pink-color;
  }
}
