@import '../../../sass/variables&mixins.scss';

.currencies-page {
  display: flex;
  flex-direction: column;
  background-color: $whitecolor;
  font-family: $fontIndieflower;
  height: 80%;
}

.currencies-page__title {
  margin-bottom: 0.5rem;
}
.instruction-title {
  margin-bottom: 0.5rem;
  color: $main-pink-color;
}

.currencies-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-currency {
  display: flex;
  justify-content: center;
}

.list-currency {
  display: flex;
  flex-direction: column;
  width: 20rem;

  .item-currency {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
