@import './variables&mixins.scss';

section {
  padding: 1.5rem;
}

h2 {
  font-size: $fs40;
  line-height: $fs40;
}

h3 {
  text-transform: uppercase;
  font-size: $fs40;
}

h4 {
  font-size: $fs30;
}
