/*-------color------*/
$main-pink-color: #d9b4ee;
$pink-dark: #753f94;
$gold: #ffc571;
$whitecolor: #f5f3ef;
$yellowcolor: #fafbca;
$colorgreen: #96c362;

/*------fonts-------*/
$fontIndieflower: 'Indie Flower', cursive;
$fontHahdlee: 'Patrick Hand', cursive;
$fontCaveat: 'Caveat', cursive;
/*-----font-size-----*/
$fs13: 13px;
$fs15: 15px;
$fs20: 20px;
$fs25: 25px;
$fs30: 30px;
$fs40: 40px;
$fs50: 50px;

/*-----header-footer-----*/
$hf-icon: 45px;
$hf-icon30: 30px;
