/*-------color------*/
$main-pink-color: hsl(278, 63%, 82%);
$gold: #ffc571;
$whitecolor: #f5f3ef;

/*------fonts-------*/
$fontIndieflower: 'Indie Flower', cursive;

/*-----font-size-----*/
$fs30: 30px;
